
 body {
    background-color: rgb(25, 25, 25);
    align-items: center;
    align-content: center;
    /* color: rgb(40, 40, 40); */
 }
 .jee {
    text-align: center;
    align-items: center;
    color: rgb(73, 170, 255);
 }
.jee1 {
    color: rgb(98, 182, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size:6vw;
 }
.wow{
    color: rgb(230, 22, 22);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:3vw;
}
.par{
    color: rgb(153, 153, 153);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.par1{
    color: rgb(207, 207, 207);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    
}
.checkbox{
    color: blue;
    border: 0in;
    border-radius: 100%;
}
.o{
    color: rgb(95, 250, 152);
}



/* CSS */
.bu {
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    appearance: none;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    font-family: "JetBrains Mono",monospace;

}

.bu:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.bu:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.bu:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.escore {
  /* display: block; */
  /* margin: 2em auto;
  border: none;
  padding: 0;
  width: 4.5ch;
  background: rgb(0, 0, 0) 1ch, 100%/4ch 2px no-repeat;
  font-family: "JetBrains Mono",monospace;
  letter-spacing: 0.5ch; */
   align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #21c4f1 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    /* cursor: pointer; */
    display: inline-flex;
    /* appearance: none; */
    height: 48px;
    justify-content: center;
    line-height: 1;
    font-family: "JetBrains Mono",monospace;
    font-size: 3ch;
    list-style: none;
    overflow: hidden;
    /* padding-left: 16px;
    padding-right: 16px; */
    position: relative;
    text-align: center;
    text-decoration: none;
}
.escore:focus {
  outline: none;
  color: rgb(255, 255, 255);
}
.button-57 {
  position:absolute;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  border: 0;
    border-radius: 6px;
    font-family: "JetBrains Mono",monospace;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor:pointer;
  /* left: 40vmax;
  
  bottom:5vmax; */
  width: 10ch;
  top: 100%;
  background: hsl(215, 100%, 49%);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(42, 42, 42);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

       .container {
            max-width: 1200px;
            margin: 0 auto;
            
            background: rgba(81, 81, 81, 0.197);
            border-radius: 20px;
            padding: 40px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
        }


        .converter-section {
            display: grid;
            margin: 0auto;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            margin-bottom: 30px;
            align-items: center;
            align-content: center;
        }

        .section {
            background: rgb(97, 97, 97);
            padding: 25px;
            margin-left:8%;
            max-width: 800px;
            min-width: 350px;
            border-radius: 15px;
            /* width: 50vmax; */
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.304);
            transition: transform 0.3s ease;
        }

        .section:hover {
            transform: translateY(-5px);
        }

        .section h2 {
            color: #444;
            margin-bottom: 20px;
            font-size: 1.5rem;
            text-align: center;
        }
